.id-container {
  display: flex;
  flex-direction: row;
  line-height: 0.4em;
  display: flex;
  border: solid 2px rgb(189, 188, 188);
  padding: 10px;
  margin: 10px;
}
.subtitle {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 5px;
  margin: 5px;
}
.greetings {
  display: flex;
  flex-direction: row;
  line-height: 0.4em;
  display: flex;
  border: solid 2px rgb(189, 188, 188);
  padding: 15px;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NumberTable {
  display: flex;
  margin: 0;
}

.NumberTable > li {
  display: flex;
  list-style-type: none;
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.right {
  margin-top: 10px;
  margin-left: 25px;
  text-align: left;
}

.right h2 {
  margin: 0;
}

.clickable img {
  width: 280px;
  height: 220px;
}

/* .box__img {
  margin-top: 10px;
  margin-left: 25px;
  text-align: left;
} */
